<div style="box-shadow: 0 0 0 0, 0 8px 16px rgba(0, 0, 0, 0.2);border: 2px solid rgba(0,0,0,.125);margin-bottom: 10px;"><img src="/assets/images/me.jpg" /></div>

<div class="sidebar ">
  <h3>Recent Posts</h3>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h3>Tags</h3>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ '/tags/'| relative_url }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
